$cardColor: hsl(217, 19%, 24%);
$Light-Cyan: hsl(193, 38%, 86%);
$Neon-Green: hsl(150, 100%, 66%);

.card{
    background-color: $cardColor;
    width: 355px;
    padding: 20px;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    @media all and (min-width: 1024px) {
        width: 500px;
    }
    &-id{
        color: $Neon-Green;
        text-align: center;
        text-transform: uppercase;
        letter-spacing: 4px;
        word-spacing: 3px;
    }

    &-advice{
        text-align: center;
        color: $Light-Cyan;
        font-size: 28px;
        padding: 15px;
        margin-bottom: 10px;
        @media all and (min-width:1024px) {
            margin-bottom: 15px;
        }
    }

    &-stuff{
        display: flex;
        justify-content: center;
    }

    &-test{
        background-color: $Neon-Green;
    }

    &-btn{
        transform: translate(0px, 4em);
        background: $Neon-Green;
        border: 20px solid $Neon-Green;
        border-radius: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: box-shadow 0.3s ease-in-out;
    }

    &-btn__dice{
        cursor: pointer;
        width: 30px;
        height: 30px;
        background-color: $Neon-Green;
    }        

    &-btn:hover{
        box-shadow: 0 0 2em -0.25em $Neon-Green;
    }

}